{% apply spaceless %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <title>Super new Chat</title>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
  {% block header %}
    {% include 'parts/header.twig' %}
  {% endblock %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% block footer %}
    {% include 'parts/footer.twig' %}
  {% endblock %}
  </body>
  </html>
{% endapply %}
